<div class="todoapp">
  <h1 class="todoapp__title">todos</h1>

  <div class="todoapp__content">
    <app-header
      [showToggleAll]="todos.length > 0"
      [allTodosCompleted]="allTodosCompleted"
      (add)="addTodo($event)"
      (toggleAll)="toggleAllTodos()"
    />

    @if (todos.length > 0) {
      <section class="todoapp__main" data-cy="TodoList">
        @for (todo of filteredTodos; track todo.id) {
          <app-todo
            [todo]="todo"
            (toggle)="toggleTodo($event)"
            (delete)="deleteTodo($event)"
            (rename)="renameTodo($event)"
          />
        }
      </section>

      <app-footer
        [activeTodosCount]="activeTodosCount"
        [completedTodosCount]="completedTodosCount"
        [filter]="filter"
        (filterChange)="setFilter($event)"
        (clearCompleted)="clearCompletedTodos()"
      />
    }

    <p
      data-cy="ErrorNotification"
      class="notification"
      [class.hidden]="!errorMessage"
    >
      <button
        type="button"
        class="delete"
        aria-label="Close error notification"
        (click)="setErrorMessage('')"
      ></button>

      {{ errorMessage }}
    </p>
  </div>
</div>
