<div class="todoapp">
  <h1 class="todoapp__title">todos</h1>

  <div class="todoapp__content">
    <header class="todoapp__header">
      @if (todos.length > 0) {
        <button
          type="button"
          class="todoapp__toggle-all"
          [class.active]="allTodosCompleted"
          aria-label="Toggle all todos"
          (click)="toggleAllTodos()"
        ></button>
      }

      <input
        #newTodoField
        class="todoapp__new-todo"
        type="text"
        placeholder="What needs to be done?"
        autocomplete="off"
        data-cy="NewTodoField"
        (keydown.enter)="addTodo(newTodoField)"
      />
    </header>

    @if (todos.length > 0) {
      <section class="todoapp__main" data-cy="TodoList">
        @for (todo of filteredTodos; track todo.id) {
          <app-todo
            [todo]="todo"
            (toggle)="toggleTodo($event)"
            (delete)="deleteTodo($event)"
            (rename)="renameTodo($event)"
          />
        }
      </section>

      <footer class="todoapp__footer" data-cy="Footer">
        <span class="todo-count" data-cy="TodosCounter">
          {{ activeTodosCount }} {{ activeTodosCount === 1 ? 'item' : 'items' }} left
        </span>

        <nav class="filter" data-cy="Filter">
          <a
            href=""
            class="filter__link"
            [class.selected]="filter === 'all'"
            (click)="setFilter($event, 'all')"
          >
            All
          </a>

          <a
            href=""
            class="filter__link"
            [class.selected]="filter === 'active'"
            (click)="setFilter($event, 'active')"
          >
            Active
          </a>

          <a
            href=""
            class="filter__link"
            [class.selected]="filter === 'completed'"
            (click)="setFilter($event, 'completed')"
          >
            Completed
          </a>
        </nav>

        <button
          type="button"
          class="todoapp__clear-completed"
          [hidden]="completedTodosCount === 0"
          (click)="clearCompletedTodos()"
        >
          Clear completed
        </button>
      </footer>
    }

    <p
      data-cy="ErrorNotification"
      class="notification"
      [class.hidden]="!errorMessage"
    >
      <button
        type="button"
        class="delete"
        aria-label="Close error notification"
        (click)="setErrorMessage('')"
      ></button>

      {{ errorMessage }}
    </p>
  </div>
</div>
